{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}搜索{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>搜索结果</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% include "components/search.html" %}
            </div>
        </div>
        {% if search_results %}
            <ul class="search-result">
                {% for result in search_results %}
                    <li>
                        <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                        {% if result.search_description %}
                            {{ result.search_description }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-12">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item {% if not search_results.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="{% if search_results.has_previous %}{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}{% else %}#{% endif %}">
                                    上一页
                                </a>
                            </li>
                            <li class="page-item {% if not search_results.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{% if search_results.has_next %}{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}{% else %}#{% endif %}">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        {% elif search_query %}
            <div class="row">
                <div class="col-12">
                    <h6>未找到结果</h6>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
