{% extends "base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>{{ page.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% image page.image width-400 %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="page-section-label">名称</td>
                            <td><p>{{ page.title }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">英文名</td>
                            <td><p>{{ page.specific.eng_name }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">拉丁名</td>
                            <td><p>{{ page.specific.latin_name }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">类别</td>
                            <td><p>{{ page.specific.category }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">来源</td>
                            <td>{{ page.specific.origin|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">产地</td>
                            <td>{{ page.specific.production_region|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">性状</td>
                            <td>{{ page.specific.features|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">品质</td>
                            <td>{{ page.specific.quality_requirements|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">性味</td>
                            <td>{{ page.specific.properties|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">功效</td>
                            <td>{{ page.specific.functions|richtext }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}