{% extends "base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>{{ page.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% image page.image width-400 %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                名称
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.title }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                英文名
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.eng_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                拉丁名
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.latin_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                类别
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.category }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                来源
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.origin|richtext }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                产地
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.production_region|richtext }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                性状
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.features|richtext }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                品质
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.quality_requirements|richtext }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                性味
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.properties|richtext }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-4 page-section-label">
                功效
            </div>
            <div class="col-lg-11 col-md-10 col-8">
                {{ page.specific.functions|richtext }}
            </div>
        </div>
    </div>
{% endblock %}