{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <h3>{{ page.title }}</h3>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="page-section-label">名称</td>
                            <td><p>{{ page.title }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">英文名</td>
                            <td><p>{{ page.specific.eng_name }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">分类</td>
                            <td><p>{{ page.specific.classification }}</p></td>
                        </tr>
                        <tr>
                            <td class="page-section-label">出处</td>
                            <td>{{ page.specific.source|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">组成</td>
                            <td>
                                <p>
                                {% for medicine in page.get_composition %}
                                    <span>{{ medicine.title }}{% if not forloop.last %}, {% endif %}</span>
                                {% endfor %}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="page-section-label">用法</td>
                            <td>{{ page.specific.usage|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">功用</td>
                            <td>{{ page.specific.function|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">主治</td>
                            <td>{{ page.specific.cures|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">病机</td>
                            <td>{{ page.specific.pathogenesis|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">运用</td>
                            <td>{{ page.specific.application|richtext }}</td>
                        </tr>
                        <tr>
                            <td class="page-section-label">方歌</td>
                            <td>{{ page.specific.indication|richtext }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        {% for medicine in page.specific.get_composition %}
                            {% image medicine.image width-300 as medicine_image %}
                            <div class="card">
                                <img src="{{ medicine_image.url }}" class="card-img-top">
                                <div class="card-body">
                                    <a href="{{ medicine.url }}" class="card-title">{{ medicine.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}