@import "./colors.css";
@import "./fonts.css";

body {
    font-family: "Roboto", serif;
}

.jumbotron {
    background-color: var(--blue-main);
    color: white;
    border-radius: 0;
    padding: 20px;
}

.row {
    margin-bottom: 10px;
}

.table .thead-dark th {
    background-color: var(--blue-main);
    border-color: var(--blue-border);
}

.page-item.active .page-link {
    background-color: var(--blue-main);
    border-color: var(--blue-border);
}

a {
    color: var(--blue-main);
}

a:hover {
    color: var(--blue-link);
}

.btn-primary {
    background-color: var(--blue-main);
}

.page-section-label {
    font-weight: bold;
    width: 80px;
}

.card {
    margin-bottom: 10px;
}

.search-result {
    list-style-type: none;
    padding: 0;
}

.search-result li {
    margin-bottom: 20px;
}

.homepage-btn {
    background: var(--blue-main);
    height: 200px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    line-height: 200px;
    margin-bottom: 10px;
    font-size: 24pt;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.homepage-btn:hover {
    color: white;
    text-decoration: none;
    background: var(--blue-border);
}

.homepage-btn:active {
    margin-top: 5px;
}